.mailing_list_name{
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 8px;
    text-align: right;
    width: 60px;
    padding-right: 60px;
}
.modal{ overflow-y:hidden;}
#modal-window .modal-body{ overflow-y: hidden}